---
---

@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */

#sidebar #avatar>a { border: none !important}

#post-list .post-preview .post-content>p {
    -webkit-line-clamp: 3;
}

.post-listitem {
    display: flex;
}
.post-item {
    flex: 1;
}
.post-thumbnail {
    margin-top: 1rem;
    margin-right: 30px;
    width: 160px;
    height: 120px;
    border-radius: 10px;
    overflow: hidden;
}
.post-thumbnail img {
    transition: all 0.3s;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
}
.post-thumbnail:hover img {
    transform: scale(1.1);
}

.caption {
    font-style: italic;
    text-align: justify;
    margin: 0 10%;
}